html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.card {
  border: 3px solid #000;
  border-radius: 8px;
}

.card:hover {
  background-color: #e6e6e6;
}

.card:hover .btn {
  background-color: #333;
}
